[package]
name = "od_opencv"
repository = "https://github.com/LdDl/object-detection-opencv-rust"
readme = "README.md"
keywords = [
  "computer-vision",
  "object-detection",
  "yolo",
  "opencv",
  "yolo-v8",
]
license = "MIT"
version = "0.3.1"
edition = "2024"
rust-version = "1.91.0"
authors = ["Dimitrii Lopanov <sexykdi@gmail.com>"]
exclude = ["/.github", "/ci", "/tools", "release.toml", "rustfmt.toml", "download_v3_tiny.sh", "download_v4_tiny.sh", "download_v7_tiny.sh", "download_v8_n.sh", "/images", "/pretrained"]
description = "Object detection utilities in Rust programming language for YOLO-based neural networks in OpenCV ecosystem"
homepage = "https://github.com/LdDl/object-detection-opencv-rust"
documentation = "https://docs.rs/od_opencv"
categories = [
  "algorithms",
  "multimedia",
  "computer-vision",
  "mathematics",
  "science",
]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
default = []
letterbox = []

[lib]
name = "od_opencv"
path = "src/lib.rs"
doctest = false

# YOLOv3 examples
[[example]]
name = "yolo_v3"

[[example]]
name = "yolo_v3_tiny"

# YOLOv4 examples
[[example]]
name = "yolo_v4"

[[example]]
name = "yolo_v4_tiny"

[[example]]
name = "yolo_v4_tiny_onnx"

# YOLOv7 examples
[[example]]
name = "yolo_v7"

[[example]]
name = "yolo_v7_tiny"

# YOLOv8 examples
[[example]]
name = "yolo_v8_l"

[[example]]
name = "yolo_v8_m"

[[example]]
name = "yolo_v8_n"

[[example]]
name = "yolo_v8_s"

[[example]]
name = "yolo_v8_x"

# YOLOv9 examples
[[example]]
name = "yolo_v9_c"

[[example]]
name = "yolo_v9_e"

[[example]]
name = "yolo_v9_m"

[[example]]
name = "yolo_v9_s"

[[example]]
name = "yolo_v9_t"

# YOLOv11 examples
[[example]]
name = "yolo_v11_l"

[[example]]
name = "yolo_v11_m"

[[example]]
name = "yolo_v11_n"

[[example]]
name = "yolo_v11_s"

[[example]]
name = "yolo_v11_x"

[dependencies]
lazy_static = "1.5.0"
opencv = { version = "0.96.0", default-features = false, features = ["dnn", "imgcodecs", "imgproc"] }

[patch.crates-io]
cc = { git = "https://github.com/rust-lang/cc-rs.git", version = "1.0", tag = "1.0.79" }
